<% if user_signed_in? %>
  <span>Здравствуйте, <%= current_user.email %></span>
  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% end %>
<h1 style="text-align: center;">Init root page. Hi, Denis :)</h1>
